body {
  margin: 0;
}

.alinha_vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.alinha_horizontal {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.completo {
  height: 100dvh;
  width: 100dvw;
}
