body {
  margin: 0;
}

button {
  cursor: pointer;
}

.btn {
  cursor: pointer;
}

.btnS {
  cursor: pointer;
  background-color: lightgreen;
}

.btnS:hover {
  cursor: pointer;
  background-color: limegreen;
}

.btnC {
  cursor: pointer;
  background-color: lightcoral;
}

.btnC:hover {
  cursor: pointer;
  background-color: red;
}

.alinhaV {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.completo {
  height: 100dvh;
  width: 100dvw;
}
